*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #4a54e7;
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(11, 226, 215);
}
nav h2{
    margin: 0 20px;
    color:#faf3f3;
}
nav a{
    text-decoration: none;
}
select{
    padding: 5px;
    outline: none;
    font-size: 1.2em;
    margin:10px;
    width: 320px;
    border-radius: 5px;
}
.content div{
    width: 300px;
    height: 350px;
    margin:20px 15px;
    background: #333;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    color:#fff;
    text-align: center;
    font-size: 1.3em;
}
.movie:hover{
    opacity: 90%;
    transform: scale(0.98);
}

/* style.css */
.image-box {
    width: 200px; /* กำหนดความกว้างของกล่อง */
    height: 200px; /* กำหนดความสูงของกล่อง */
    border: 1px solid #ccc; /* กำหนดเส้นขอบสำหรับกล่อง */
    overflow: hidden; /* กำหนดให้เนื้อหาในกล่องที่เกินขนาดจะถูกซ่อนไว้ */
}

.image-box img {
    width: 100%; /* กำหนดให้รูปภาพขนาดเต็มกับกล่อง */
    height: 100%; /* กำหนดให้รูปภาพขนาดเต็มกับกล่อง */
    object-fit: cover; /* กำหนดให้รูปภาพครอบคลุมพื้นที่ในกล่อง */
}
