/* Custom CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    background-image: url(https://i.makeagif.com/media/3-03-2016/ndNR4d.gif);
    background-size: cover; 
    background-repeat: no-repeat;
}
*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.header{
    color:#fff;
    text-align: center;
    font-size: 2.0em;
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(11, 226, 215);
    border-bottom: 1px solid rgb(11, 226, 215);
    border-left: 1px solid rgb(11, 226, 215);
    border-right: 1px solid rgb(11, 226, 215);
    background-color: rgb(29, 72, 225) !important;
}

.container {
    margin-top: 20px;
    background-color: #616d76;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-color: #031d2f;
    border: solid #0b99e5 5px;
}

/* Center the form */
.form-container {
    text-align: center;
}

/* Style the buttons */
.btn {
    margin-top: 10px;
}

/* Style the footer */
footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}
.column {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #031d2f;
    border: solid #0b99e5 5px;
    color: #fff;
}
.container-fluid {
    margin-top: 20px;
    background-color: #031d2f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-color: aqua;
    border: solid #0b99e5 5px;
}
.form-control {
    color: #000204;
}
.row {
    text-align: center;
}
.col-md-4 {
    color: #ffffff; 
}





