@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
h5 {
    color: #faf3f3;
}
h3 {
    color: #faf3f3;
    font-size: 1.3em;
}
h2{
    color:#020000;
    text-align: center;
    font-size: 1.3em;
}
h1{
    color:#fff;
    text-align: center;
    font-size: 2.0em;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #4e4f5b;
    border-bottom: 1px solid rgb(11, 226, 215);
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(11, 226, 215);
    border-bottom: 1px solid rgb(11, 226, 215);
    border-left: 1px solid rgb(11, 226, 215);
    border-right: 1px solid rgb(11, 226, 215);
    background-color: rgb(29, 72, 225) !important;
}
nav h2{
    margin: 0 20px;
    color:#faf3f3;
}
nav a{
    text-decoration: none;
    align-items: right;
    justify-content: flex-start;
}
.topnav {
    overflow: hidden;
    float: right;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* จัดเรียงไปทางด้านขวา */
    flex-grow: 1;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}
.admin_container {
    padding: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
}

.admin_container h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.admin_container form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.admin_container label {
    display: block;
    margin-bottom: 5px;
}

.admin_container input[type="text"],
.admin_container input[type="email"],
.admin_container input[type="password"],
.admin_container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.admin_container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(29, 72, 225) !important;
    border-bottom: 1px solid rgb(11, 226, 215);
    border-top: 1px solid rgb(11, 226, 215);
    border-left: 1px solid rgb(11, 226, 215);
    border-right: 1px solid rgb(11, 226, 215);
    height: 200px;
}
p {
    color: #faf3f3;
}

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgb(11, 226, 215);
        background-color: rgb(29, 72, 225) !important;
    }
    .column {
        padding: 20px;
        margin: 30px;
        border-radius: 20px;
        background-color: #1785a1;
        border: solid #053d41 2px;
        width: 310px;
        align-items: center;
    }
    .container{
        flex-direction: row;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: #4e4f5b;
    }   
}