@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #4e4f5b;
    border-bottom: 1px solid rgb(11, 226, 215);
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgb(11, 226, 215);
    border-bottom: 1px solid rgb(11, 226, 215);
    border-left: 1px solid rgb(11, 226, 215);
    border-right: 1px solid rgb(11, 226, 215);
    background-color: rgb(29, 72, 225) !important;
}
nav h2{
    margin: 0 20px;
    color:#faf3f3;
}
nav a{
    text-decoration: none;
    align-items: right;
    justify-content: flex-start;
}

form {
    background-color: #ffffff;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #060000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #070000;
    opacity: 1.0; 
  }

  svg {
    color: #050000;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
select{
    padding: 5px;
    outline: none;
    font-size: 1.2em;
    margin:10px;
    width: 320px;
    border-radius: 5px;
}
.content div{
    width: 300px;
    height: 350px;
    margin:20px 15px;
    background: #333;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
h5 {
    color: #faf3f3;
}
h3 {
    color: #faf3f3;
    font-size: 1.3em;
}
h2{
    color:#fff;
    text-align: center;
    font-size: 1.3em;
}
h1{
    color:#fff;
    text-align: center;
    font-size: 2.0em;
}
.movie:hover{
    opacity: 90%;
    transform: scale(0.98);
}
.topnav {
    overflow: hidden;
    float: right;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* จัดเรียงไปทางด้านขวา */
    flex-grow: 1;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}
 
.column {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #1785a1;
    border: solid #053d41 2px;
}
.columnTeam {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #1785a1;
    border: solid #053d41 2px;

    align-items: center;
    text-align: center;
}
.dummy_text {
     color: #faf3f3;
}
.container {
    padding: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly 
}
.containerTeam {
    padding: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.gamepic {
    border-radius: 20px;
    width: 260px;
    height: 350px;
    align-items: center;
}
.gamepicCS {
    border-radius: 20px;
    width: 250px;
    height: 350px;
}
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(29, 72, 225) !important;
    border-bottom: 1px solid rgb(11, 226, 215);
    border-top: 1px solid rgb(11, 226, 215);
    border-left: 1px solid rgb(11, 226, 215);
    border-right: 1px solid rgb(11, 226, 215);
    height: 200px;
}
p {
    color: #faf3f3;
}
.game_name {
    color:#fff;
    text-align: left;
    font-size: 2.0em;
}
.search-form {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางตามแนวตั้ง */
    justify-content: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
    text-align: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
}

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgb(11, 226, 215);
        background-color: rgb(29, 72, 225) !important;
    }
    .column {
        padding: 20px;
        margin: 30px;
        border-radius: 20px;
        background-color: #1785a1;
        border: solid #053d41 2px;
        width: 310px;
        align-items: center;
    }
    .container{
        flex-direction: row;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        background-color: #4e4f5b;
    }   
}
